---
layout: default
active_page: 404
---

<div class="container text-center">
  <h1>404</h1>
  <p><strong>Page non trouvée :(</strong></p>
  <p>Nous allons vous rediriger vers la page d'accueil dans 5 secondes. Si cela ne marche pas, <a href="{{ site.url }}">cliquez ici.</a></p>
</div>

<script>
  window.setTimeout(function(){ window.location = "{{ site.url }}"; },5000);
</script>
