<!DOCTYPE html>

<!-- set the default language as English -->
<html lang="fr">

<head>

	<!-- tags for Search Engine Optimization -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="vie privée, confidentialité, anonymat, outils de confidentialité, surveillance, chiffrement, edward snowden, nsa, tor">
	<meta name="description" content="{{ site.description }}">

	<!-- referrer policy -->
	<meta name="referrer" content="no-referrer">

    <!-- title -->
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }} </title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

	<!-- icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/img/favicons/manifest.json">
	<link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS stylesheets -->
	<link href="assets/css/style.css?v=5" rel="stylesheet">

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->

	<!-- Open Graph Protocol tags for SEO -->
	<meta property="og:title" content="Privacy Tools | Le chiffrement contre la surveillance de masse globale" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://privacytools.dreads-unlock.fr/" />
	<meta property="og:image" content="https://privacytools.dreads-unlock.fr/assets/img/layout/ogimage.jpg" />
	<meta property="og:description" content="Vous êtes observé ! Le savoir, le chiffrement et les outils de confidentialité pour vous protéger contre la surveillance de masse globale."
	/>
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:site_name" content="privacytools.dreads-unlock.fr" />
</head>

<body data-spy="scroll" data-target="#navbar">
<!-- navigation starts -->

<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Basculer la navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% if page.active_page %}
            {% assign prefix = "index.html" %}
        {% endif %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="providerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fournisseurs
            </a>
            <div class="dropdown-menu" aria-labelledby="providerDropdown">
            <a class="dropdown-item" href="{{prefix}}#ukusa">Éviter tout service basé aux États-Unis d'Amérique ou Grande-Bretagne.</a>
            <a class="dropdown-item" href="{{prefix}}#vpn">Virtual Private Network (VPN)</a>
            <a class="dropdown-item" href="{{prefix}}#email">Emails Confidentiels</a>
            <a class="dropdown-item" href="{{prefix}}#wc">Warrant Canaries</a>
            <a class="dropdown-item" href="{{prefix}}#cloud">Services Chiffrés de Stockage dans le Cloud</a>
            <a class="dropdown-item" href="{{prefix}}#social">Réseaux Sociaux Décentralisés</a>
            <a class="dropdown-item" href="{{prefix}}#dns">Domain Name System (DNS)</a>
            <a class="dropdown-item" href="{{prefix}}#search">Moteurs de Recherche Respectant la Vie Privée</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="browserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Navigateurs
            </a>
            <div class="dropdown-menu" aria-labelledby="browserDropdown">
                <a class="dropdown-item" href="{{prefix}}#browser">Recommendations</a>
                <a class="dropdown-item" href="{{prefix}}#fingerprint">Empreintes</a>
                <a class="dropdown-item" href="{{prefix}}#webrtc">Fuite d'IP par WebRTC</a>
                <a class="dropdown-item" href="{{prefix}}#addons">Extension Firefox pro-Confidentialité</a>
                <a class="dropdown-item" href="{{prefix}}#about_config">Réglages pro-Confidentialité</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="softwareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Logiciels
            </a>
            <div class="dropdown-menu" aria-labelledby="softwareDropdown">
                <a class="dropdown-item" href="{{prefix}}#clients">Clients d'Email</a>
                <a class="dropdown-item" href="{{prefix}}#messaging">Email Alternatifs</a>
                <a class="dropdown-item" href="{{prefix}}#search">Moteurs de Recherche</a>
                <a class="dropdown-item" href="{{prefix}}#im">Messageries Instantanée</a>
                <a class="dropdown-item" href="{{prefix}}#voip">Messageries Audio et Vidéo</a>
                <a class="dropdown-item" href="{{prefix}}#filesharing">Partage de Fichiers</a>
				<a class="dropdown-item" href="{{prefix}}#cloud">Stockages dans le Cloud Chiffrés</a>
				<a class="dropdown-item" href="{{prefix}}#mycloud">Serveurs Cloud Auto-Hébergés</a>
                <a class="dropdown-item" href="{{prefix}}#sync">Synchronisation Sécurisée de Fichiers</a>
                <a class="dropdown-item" href="{{prefix}}#pw">Gestionnaires de Mot de Passe</a>
                <a class="dropdown-item" href="{{prefix}}#calendar_contacts">Synchronisation des Calendriers et Contacts</a>
                <a class="dropdown-item" href="{{prefix}}#encrypt">Chiffrement de Fichiers</a>
                <a class="dropdown-item" href="{{prefix}}#darknets">Réseaux Autonomes</a>
				<a class="dropdown-item" href="{{prefix}}#social">Réseaux Sociaux</a>
				<a class="dropdown-item" href="{{prefix}}#dns">VPN</a>
                <a class="dropdown-item" href="{{prefix}}#notebook">Carnets de Notes Digitaux</a>
                <a class="dropdown-item" href="{{prefix}}#paste">Services de Notes Rapides</a>
                <a class="dropdown-item" href="{{prefix}}#productivity">Outils de Productivité</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="osDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Systèmes d'Exploitation
            </a>
            <div class="dropdown-menu" aria-labelledby="osDropdown">
                <a class="dropdown-item" href="{{prefix}}#os">PC</a>
                <a class="dropdown-item" href="{{prefix}}#live_os">Live CD</a>
                <a class="dropdown-item" href="{{prefix}}#mobile_os">Mobile</a>
                <a class="dropdown-item" href="{{prefix}}#aaddons">Extensions Android pro-Confidentialité</a>
                <a class="dropdown-item" href="{{prefix}}#firmware">Micrologiciels de Routeur</a>
                <a class="dropdown-item" href="{{prefix}}#win10">N'utilisez pas Windows 10</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{prefix}}#participate">Participer</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="shareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Partager
            </a>
            <div class="dropdown-menu" aria-labelledby="shareDropdown">
                <a class="dropdown-item" href="mailto:?subject=privacytools.dreads-unlock.fr%20-%20le%20chiffrement%20contre%20la%20surveillance%20de%20masse%20globale&body=https://privacytools.dreads-unlock.fr/">Email</a>
                <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=https://privacytools.dreads-unlock.fr">Facebook</a>
                <a class="dropdown-item" href="https://twitter.com/share?text=Connaissances%20et%20outils%20pour%20prot%C3%A9ger%20votre%20vie%20priv%C3%A9e%20contre%20la%20surveillance%20de%20masse%20globale&amp;url=https://privacytools.dreads-unlock.fr/&amp;via=privacytoolsIO">Twitter</a>
                <a class="dropdown-item" href="http://sharetomastodon.github.io/?title=privacytools.dreads-unlock.fr%20-%20le%20chiffrement%20contre%20la%20surveillance%20de%20masse%20globale&url=https://privacytools.dreads-unlock.fr/">Mastodon</a>
                <a class="dropdown-item" href="http://reddit.com/submit?url=https://privacytools.dreads-unlock.fr&title=privacytools.dreads-unlock.fr%20-%20le%20chiffrement%20contre%20la%20surveillance%20de%20masse%20globale">reddit</a>
                <a class="dropdown-item" href="https://www.linkedin.com/shareArticle?url=https://privacytools.dreads-unlock.fr&title=privacytools.dreads-unlock.fr%20-%20le%20chiffrement%20contre%20la%20surveillance%20de%20masse%20globale">LinkedIn</a>
                <a class="dropdown-item" href="http://www.stumbleupon.com/submit?url=https://privacytools.dreads-unlock.fr&title=privacytools.dreads-unlock.fr%20-%20le%20chiffrement%20contre%20la%20surveillance%20de%20masse%20globale">StumbleUpon</a>
                <a class="dropdown-item" href="http://sharetodiaspora.github.io/?title=privacytools.dreads-unlock.fr%20-%20le%20chiffrement%20contre%20la%20surveillance%20de%20masse%20globale&url=https://privacytools.dreads-unlock.fr">Diaspora*</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/privacytoolsIO">Twitter</a>
        </li>
        </ul>
        <ul class="navbar-nav">
        {% if page.active_page == "donate" %}
            <li class="nav-item active">
                <a class="nav-link" href="#">Donner <i class="fas fa-heart text-danger"></i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="donate.html">Donner <i class="fas fa-heart text-danger"></i></a>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
</nav>
<!-- navigation ends here -->

<div class="py-4">
<h1 id="top"></h1>
<div class="mb-5"></div>
{{ content }}
</div>

<!-- add jQuery, Popper, Bootstrap, Sortable, and tooltip libraries  -->
<script src="assets/js/jquery-3.3.1.min.js?v=4"></script>
<script src="assets/js/popper.min.js?v=4"></script>
<script src="assets/js/bootstrap.min.js?v=4"></script>
<script src="assets/js/sortable.min.js?v=4"></script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>
</body>
</html>
